-var title = 'About Page'
include template/head.pug
body
  include template/navbar.pug
  main
    .container
      h1= 'About'
      p= 'Version 1.0.0'
      p= 'StoryBooks is an app to share your life'

include template/footer.pug
include template/scripts.pug