body{
display: flex;
min-height: 100vh;
flex-direction: column;
}

main{
  flex: 1 0 auto;
}

.side-nav{
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;

}
.side-nav.active{
  left: 315px;
}

 