-var title = 'Show stories'
include ../template/head.pug
body
  include ../template/navbar.pug
  main
    .container
      h1= `Show Story`

      


include ../template/footer.pug
include ../template/scripts.pug