footer.page-footer.grey.darken-3
  .container
    .row
      .col.l6.s12
        h5.white-text StoryBooks
        p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
      .col.l4.offset-l2.s12
        h5.white-text Links
        ul
          li
            a.grey-text.text-lighten-3(href='/stories') Public Stories
          li
            a.grey-text.text-lighten-3(href='/about') About

  .footer-copyright
    .container
      | © 2017 StoryBooks
      a.grey-text.text-lighten-4.right(href='#!') More Links


  


