nav.grey.darken-3
  .container
    .nav-wrapper
      a.brand-logo.center(href="/") StoryBooks
      a.button-collapse.show-on-large.js-button(href="#", data-activates="main-menu")
        i.fa.fa-bars
      // RIGHT NAV
      ul.right.hide-on-small-only
        if user
          li
            a(href="/dashboard")= `Welcome ${user.firstName}`
          li
            a(href="/auth/logout")
              i.fa.fa-sign-out= 'Logout'
        else
          li
            a(href="/stories")
              i.fa.fa-book
              = 'Public Stories'

      // SIDE MENU
      ul#main-menu.side-nav
        if user
        else
          li
            a.btn.red.darken-1(href="/auth/google")
              i.fa.fa-google.left
              = 'Login With Google'
          li
            a(href="/stories")
              i.fa.fa-book
              = 'Public Stories'
        if user
          li.divider
          li
            a(href="/dashboard")
              i.fa.fa-cog
              = 'Dashboard'
          li
            a(href="/stories/my")
              i.fa.fa-user
              = 'My Stories'
          li
            a(href="/auth/logout")
              i.fa.fa-sign-out
              = 'Logout'
if user
  include add-button.pug
