 <!-- Compiled and minified JavaScript -->

script(src='http://code.jquery.com/jquery-2.1.2.min.js', )

script(src='http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
script(src='https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js')

script(type='text/javascript')


  | $(document).ready(function() {
  |  $('.js-button').on('click',function(){
  |   $('#main-menu').toggleClass('active')
  |  })
  |  $('select').material_select();
  | });
  | CKEDITOR.replace('body',{
  |   plugins: 'wysiwygarea,toolbar,basicstyles,link'
  | });
